<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Curso Básico de Backbone.js</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.css">
	<style>
		body {
			font-family: 'Open Sans', Arial;
		}
	</style>
</head>
<body id='app'>

	<div class="libros">
		<h1>Libros</h1>
	</div>

	<div class="detalle">
		<h1>Detalle Libro</h1>
	</div>

	<!-- Definir un template:
		var templateMuestra = _.template($('#tplMuestra').html());
		$('body').append(templateMuestra);
	 -->

	 <script type="text/template" id="tplMostrarLibro">
	 	<h2><%= titulo %></h2>
	 	<p><%= autor %></p>
	 	<small><%= categoria %></small>
	 	<hr>
	 </script>

	 <script type="text/template" id="tplDetalleLibro">
	 	
	 </script>
	
	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/underscore-1.8.3.js"></script>
	<script src="js/vendor/backbone-1.3.3.js"></script>

	<script src="js/backbone/models/libro.js"></script>
	<script src="js/backbone/collections/libros.js"></script>
	<script src="js/backbone/views/libreria.js"></script>
	<script src="js/backbone/routes/rutas.js"></script>
</body>
</html>